# Must match GHCR image built from this branch
IMAGE_TAG=ghcr.io/achudexqbit/erpnext-dqb_distributors-prod:latest

dqb_distributors.localhost=dqb_demo_distributors.dexqbit.com
EXTERNAL_PORT=8000

DB_NAME=frappe_dqb_distributors_prod
DB_ROOT_PASSWORD=CHANGE_ME
DB_PASSWORD=CHANGE_ME

CPU_LIMIT=2.0
MEM_LIMIT=1G

# Must be unique across all stacks on this server
VOLUME_PREFIX=dqb_distributors_prod